
OutputContainer {
    max-width: 90%;
    text-align: center;
}

.output-parent {
    text-align: center;
    display: flex;
    justify-content: center;
    /*padding: 20px;*/
    max-width: 100%;
    /*left: 13%;*/
    margin-bottom: 50px;
    /*transform: translate(-50%, -50%);*/
    overflow-y: scroll;
    /*background-color: grey;*/
    /*opacity: 0.6*/
}

.card-deck {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.card {
    max-width: 262.5px;
}

.card-img-top {
    margin-top: 10px;
    max-height: 300px;
    max-width: 300px;
}

.dummy {
    margin-top: 30px
}

.return {
    background: url('../images/return4.png') center no-repeat;
    background-size: cover;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 66px;
    margin-left: 42%;
    border-width: 0px;
}

.score-detail {
    position: fixed;
    bottom: 0;
    right: 0;
    /*margin-left: 12%;*/
    /*border-width: 0px;*/
}

.detail-button {
    margin-left: 10px;
}
