.App {
  text-align: center;
}

.dropdown-1 {
  width: 500px;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

body {
  background-image: url("./background.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.lip-container {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.lip-title {
  background-image: url("./title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 150%;
  height: 150%;
}

.dropdown-group {
  text-align: center;
  position: center;
}

CharacteristicInput {
  margin: 0 auto;
}

BrandInput {
  margin: 0 auto;
}

